{
    "printWidth": 140,
    "trailingComma": "es5",
    "singleQuote": true,
    "semi": true,
    "tabWidth": 4,
    "quoteProps": "as-needed",
    "jsxSingleQuote": false,
    "jsxBracketSameLine": true,
    "arrowParens": "always"
  }
  